<div class="poster_coming_soon">
    <div class="poster_text">
        <div class="poster_title_text"><%= title %></div>
        <div class="poster_date_text"><%= releaseDate %></div>
    </div>
    <a href="movies/<%= movieLink %>">
        <img src= <%= poster %> alt="Poster <%= title %>">
    </a>
</div>